<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<div class='stats_table'>

    <table>
	  <tr>
	    <th>Height</th>
	    <th>Starting Weight</th>
	    <th>Current Weight</th>
	    <th>Goal Weight</th>
	    <th>Starting BF%</th>
	    <th>Current BF%</th>
	    <th>Goal BF%</th>
	  </tr>
	  <tr>
	    <td>{{ post.height }}</td>
	    <td>{{ post.starting_weight }}</td>
	    <td>{{ post.current_weight }}</td>
	    <td>{{ post.goal_weight }}</td>
	    <td>{{ post.starting_bf_percentage }}</td>
	    <td>{{ post.current_bf_percentage }}</td>
	    <td>{{ post.goal_bf_percentage }}</td>
	  </tr>
    </table>
</div>


