<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<div class='static_stats'>

    <table>
	  <tr>
	    <th>Height</th>
	    <th>Starting Weight</th>
	    <th>Goal Weight</th>
	    <th>Starting BF%</th>
	    <th>Goal BF%</th>
	  </tr>

	  <tr>
	    <td>{{ user.height }}</td>
	    <td>{{ user.starting_weight }}</td>
	    <td>{{ user.goal_weight }}</td>
	    <td>{{ user.starting_bf_percentage }}</td>
	    <td>{{ user.goal_bf_percentage }}</td>
	  </tr>
	
    </table>
</div>
<div class='stats_table'>

    <table>
	  <tr>
	    <th>Date</h>
	    <th>Height</th>
	    <th>Starting Weight</th>
	    <th>Current Weight</th>
	    <th>Goal Weight</th>
	    <th>Starting BF%</th>
	    <th>Current BF%</th>
	    <th>Goal BF%</th>
	  </tr>
	{% for row in posts %}
	  <tr>
	    <td>{{ row.timestamp.strftime('%Y-%m-%d-%H:%M') }}</td>
	    <td>{{ row.height }}</td>
	    <td>{{ row.starting_weight }}</td>
	    <td>{{ row.current_weight }}</td>
	    <td>{{ row.goal_weight }}</td>
	    <td>{{ row.starting_bf_percentage }}</td>
	    <td>{{ row.current_bf_percentage }}</td>
	    <td>{{ row.goal_bf_percentage }}</td>
	  </tr>
	{% endfor %}
    </table>
</div>


