{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{current_user.username}}!</h1>
    {% for post in posts %}
    <div><p>{{post.author.username}} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}

<style>
div.form {
	display: inline-block;
	vertical-align: top;
}

div.personal_stats {
	display: inline-block;
	vertical-align: top;
}

div.goal_stats {
	display: inline-block;
	vertical-align: top;
}


</style>
	</head>

<body>

    <div>
        Microblog:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>


<div class="form">
<p>
<form action="/index" method="POST">
  First name:<br>
  <input type="text" name="name"><br>
  Height(in inches):<br>
  <input type="number" name="height"><br>
  Starting Weight:<br>
  <input type="number" step="any" name="starting_weight"><br>
  Current Weight:<br>
  <input type="number" step="any" name="current_weight"><br>
  Goal Weight:<br>
  <input type="number" step="any" name="goal_weight"><br>
  Starting Bodyfat %:<br>
  <input type="number" step="any" name="starting_bf_percentage"><br>
  Current Bodyfat %:<br>
  <input type="number" step="any" name="current_bf_percentage"><br>
  Goal Bodyfat %:<br>
  <input type="number" step="any" name="goal_bf_percentage"><br>
  <input type="submit" value="Submit">
</form> 
</p>
</div>

<div class="personal_stats">
<h1>Your current stats</h1>
<p>
Hello {{name}}.  You are nice, I like you!<br>
You are {{height}} inches tall.  Very awesome!<br>
You weigh {{current_weight}} lbs, but you used to weigh {{starting_weight}} lbs.<br> 
Your starting body fat percentage was {{starting_bf_percentage}} %.<br>
Your current body fat percentage is {{current_bf_percentage}} %.<br>
Your total weight lost is: {{total_weight_lost}} lbs.<br>
You currently have {{current_fat_pounds}} pounds of fat on you.<br>
Your starting lean mass was: {{starting_lean_bodymass}}<br>
Your current lean mass is: {{current_lean_bodymass}}<br>
Your bmi is {{bmi}}.<br>

That means the amount of fat you have lost is: {{fat_lost}}<br>
That means the amount of non-muscle mass you have lost is: {{nonfat_lost}}<br>

</p>
</div>

<div class="goal_stats">
<h1>Your goals:</h1>
Your goal weight is {{goal_weight}}.<br>
Your goal body fat percentage is {{goal_bf_percentage}} %.<br>
Your goal is to have {{goal_fat_pounds}} pounds of fat on you.<br>
You must lose {{goal_fat_loss}} pounds of fat to reach your goal!<br>
Your goal lean mass is: {{goal_lean_bodymass}}<br>
</div>




<!-

And gain pounds of muscle.
Your bmi is {{bmi}}
-->



     </body>
</html>

</html>
{% endblock %}


